@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
    margin: 0;
    width: 100%;
}

h1 {
    color: white;
    font-family: 'Open Sans', cursive;
    text-shadow: 1px 2px #000065;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-shadow: 1px 2px #000065;
    font-family: 'Open Sans', cursive;
}
a:hover {
    color: rgba(101, 8, 97, 0.91);
    text-shadow: 1px 1px rgba(110, 10, 105, 0.6);
    font-size: 24px;
}

.header {
    width: 100vw;
    height: 80px;
    background-color: rgba(118, 80, 245, 0.39);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.title {
    font-family: 'Open Sans', cursive;
    font-size: 25px;
    padding-right: 30vw;
    font-weight: bold;
    color: #FFF;
    text-shadow: 1px 1px rgba(110, 10, 105, 0.6);
}

.signBtn {
    padding: 13px;
    margin: 10px;
    font-family: 'Open Sans', cursive;
    font-weight: 800;
    border-radius: 22px;
    border: 2px solid rgba(34, 0, 70, 0.8);
}

.signUpBtn {
    background-color: rgba(75, 75, 239, 0.24);
    color: #fff;
}

.buttons {
    padding: 5%;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    border: 2px solid white;
    border-radius: 100px;
    background-image: url("https://dich.media/wp-content/uploads/2020/11/cyberpunk-2077-igra-kogda-viydet.jpg");
    padding: 60px;
    width: 600px;
    height: 300px;
    box-shadow: 13px 15px 31px 2px rgb(206, 226, 255);
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}