@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    margin: 0;
    width: 100vw;
}

h1 {
    color: white;
    font-family: 'Open Sans', cursive;
    text-shadow: 1px 2px #000065;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-shadow: 1px 2px #000065;
    font-family: 'Open Sans', cursive;
}

a:hover {
    color: rgba(101, 8, 97, 0.91);
    text-shadow: 1px 1px rgba(110, 10, 105, 0.6);
    font-size: 24px;
}

.header {
    width: 100vw;
    height: 80px;
    background: linear-gradient(90deg, rgba(60, 145, 159, 0.56) 0%, rgb(2, 102, 151) 54%, rgb(0, 0, 60) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 15px 15px 50px 0 rgba(87, 144, 153, 0.8);
}

.title {
    font-family: 'Open Sans', cursive;
    font-size: 25px;
    padding-left: 20px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 1px 1px rgba(110, 10, 105, 0.6);
}

.signBtn {
    padding: 13px;
    margin: 10px;
    font-family: 'Open Sans', cursive;
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 22px;
    color: #fff;
}

.signBtn:hover {
    cursor: pointer;
    color: #9ab2ff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}

.signUpBtn {
    background-color: rgba(149, 75, 239, 0.24);
}

.buttons {
    padding: 5%;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    border: 2px solid white;
    border-radius: 100px;
    background-image: url("https://dich.media/wp-content/uploads/2020/11/cyberpunk-2077-igra-kogda-viydet.jpg");
    padding: 60px;
    width: 600px;
    height: 300px;
    box-shadow: 13px 15px 31px 2px rgb(206, 226, 255);
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .container {
        width: 500px;
    }

    h1 {
        font-size: 26px;
    }
}